body{
    background-color: cadetblue;
}
.Chat {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: bold;
    }
.info{
    text-align: center;
}
.chat_user-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.chat_user-sub-box1{
    background-color: coral;
}
.chat_user-sub-box2{
    background-color: darkblue;
    color:white;
    width:400
}

button{
    color:white;
    background-color: blue;
    border: 1px white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 5px;
}